@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
    font-family: 'AJou';
    src: url(AjouTTF.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "Pretendard Variable";
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #2A64AD;
    border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}


main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginBox > .formLine {

}

.loginBox > .formLine > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.loginBox > .formLine > form > .inputLine   {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.loginBox > .formLine > form > .inputLine > input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 20px;
}

.loginBox > .formLine > form > .submitLine {

}

.loginBox > .formLine > form > .submitLine > button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #2A64AD;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    border-radius: 50px;
}
.loginBox > .formLine > form > .submitLine > button:hover {
    background-color: #427fc8;
}