@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
    font-family: 'AJou';
    src: url(AjouTTF.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "Pretendard Variable";
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #2A64AD;
    border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

/* ==== floating ==== */

.floating {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 25px;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 98;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

.floating.show {
  opacity: 1;
  visibility: visible;
}

.floating > a > .gotoTop {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    color: black;
    background: #4c7bba;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.floating > a > .gotoCall {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.floating > a > .gotoKakao {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}

.floating > a > .gotoUrl {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background: #a5a5a5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.floating > a > .gotoKakao > img {
  width: 100%;
}

.floating > a > .gotoCall > img {
  width: 100%;
}

.floating > a > .gotoTop > img {
  width: 20px;
}

.floating > a > .gotoUrl > img {
  width: 20px;
}

/* ==== floating ==== */



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

section {
    width: 834px;
    background-color: white;
    overflow-x: hidden;
}


section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

main > .topBox {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2A64AD;
    padding: 15px 0;
    z-index: 9999;
    transition: all 0.3s;
}
main > .topBox.sticky {
    background-color: #2a64add9;
    padding: 18px 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
main > .topBox > p {
    font-family: 'AJou';
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    font-style: italic;
    cursor: pointer;
}

/* ==== section1 ==== */
#section1 {
    margin-top: 66.5px;
}

#section1 > .container {
    height: 400px;
    padding: 20px 0;
    overflow: hidden;
}

#section1 > .container > .contentLine {
    width: 100%;
    position: relative;
}
#section1 > .container > .contentLine > .bgdLine {
    width: 100%;
    transition: all 1s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#section1 > .container > .contentLine > .bgdLine::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 1s;
}
#section1 > .container > .contentLine > .bgdLine.blured {

}

#section1 > .container > .contentLine > .bgdLine.blured::before{
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}
#section1 > .container > .contentLine > .bgdLine > img {
    width: 100%;
    transition: all 0.3s;
}

#section1 > .container > .contentLine > .textLine {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    opacity: 0;
}
#section1 > .container > .contentLine > .textLine.show {
    top: 50%;
    opacity: 1;
}

#section1 > .container > .contentLine > .textLine > p {
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 1px 3px 4px #000000e3;
  color: white;
}
/* ==== section1 ==== */

/* ==== section2 ==== */

#section2 {
    background-color: #ece9e9;
}

#section2 > .container {
    width: 100%;
    padding: 20px 0;
    padding-bottom: 100px;
}
#section2 > .container > .contentLine {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section2 > .container > .contentLine > .timeLine {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 20px 0;
}

#section2 > .container > .contentLine > .timeLine > .tLine {
    margin-top: 50px;
}
#section2 > .container > .contentLine > .timeLine > .tLine > p {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}

#section2 > .container > .contentLine > .timeLine > .timeInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
#section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100px;
    background-color: rgb(111 151 205);
}
#section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div > p {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
#section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > p {
    margin: 0;
    font-size: 30px;
}


#section2 > .container > .contentLine > .optional {

}

#section2 > .container > .contentLine > .optional > p {
    font-size: 30px;
    font-weight: bold;
}

#section2 > .container > .contentLine > .eventContent {
    width: 80%;
}

#section2 > .container > .contentLine > .eventContent > p {
  font-size: 25px;
}

/* ==== section2 ==== */



/* ===== media ===== */

@media all and (max-width: 1600px) {
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 1024px) {
}
/* 작업 후 834까지 */
@media all and (max-width: 834px) {
  section {
    width: 100%;
  }
  #section1 > .container {
    padding: 0;
  }
}
/* 작업 후 600까지 */
@media all and (max-width: 600px) {
  img {
    vertical-align: bottom;
  }
  #section1 > .container {
    height: auto;
  }
  #section1 > .container > .contentLine > .textLine > p {
    font-size: 55px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div {
    width: 75px;
    height: 90px;
  }
  #section2 > .container > .contentLine > .timeLine {
    gap: 2rem;
  }
}
/* 작업 후 478까지 */
@media all and (max-width: 478px) {
  main > .topBox > p {
    font-size: 22px;
  }
  #section1 {
    margin-top: 56px;
  }
  .popupWrapper {
    width: 360px !important;
  }
  #section1 > .container > .contentLine > .textLine > p {
    font-size: 45px;
    text-align: center;
  }
  #section2 > .container > .contentLine > .timeLine > .tLine > p {
    font-size: 33px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div {
    width: 69px;
    height: 83px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div > p {
    font-size: 36px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo {
    gap: 1rem;
  }
  #section2 > .container > .contentLine > .timeLine {
    gap: 1rem;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > p {
    font-size: 26px;
  }
  #section2 > .container > .contentLine > .optional > p {
    font-size: 26px;
  }
  #section2 > .container > .contentLine > .eventContent > p {
    font-size: 21px;
  }
}
/* 작업 후 414까지 */
@media all and (max-width: 414px) {
  #section1 > .container > .contentLine > .textLine > p {
    font-size: 37px;
  }
  #section2 > .container > .contentLine > .timeLine > .tLine {
    margin-top: 30px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div {
    width: 59px;
    height: 79px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > div > p {
    font-size: 32px;
  }
  #section2 > .container > .contentLine > .timeLine > .timeInfo > .tBox > p {
    font-size: 23px;
  }
  #section2 > .container > .contentLine > .optional > p {
    margin-top: 30px;
  }
  .chartContainer {
    width: 80%;
  }
  #section2 > .container > .contentLine > .eventContent > p {
    font-size: 19px;
  }
}

/* ===== media ===== */
