@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
    font-family: 'AJou';
    src: url(AjouTTF.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "Pretendard Variable";
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #2A64AD;
    border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

/* ==== floating ==== */

.floating {
  position: fixed;
  bottom: 35px;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 98;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

.floating.show {
  opacity: 1;
  visibility: visible;
}

.floating > a > .gotoTop {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    color: black;
    background: #4c7bba;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.floating > a > .gotoCall {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.floating > a > .gotoKakao {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}

.floating > a > .gotoUrl {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background: #a5a5a5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.floating > a > .gotoKakao > img {
  width: 100%;
}

.floating > a > .gotoCall > img {
  width: 100%;
}

.floating > a > .gotoTop > img {
  width: 20px;
}

.floating > a > .gotoUrl > img {
  width: 20px;
}

/* ==== floating ==== */



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

section {
    width: 834px;
    background-color: white;
    overflow-x: hidden;
}

section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

main > .topBox {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2A64AD;
    padding: 15px 0;
    z-index: 9999;
    transition: all 0.3s;
}
main > .topBox.sticky {
    background-color: #2a64add9;
    padding: 18px 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
main > .topBox > p {
    font-family: 'AJou';
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    font-style: italic;
    cursor: pointer;
}

/* ==== section1 ==== */

#section1 {
}

#section1 > .container {
    padding: 50px 0;
    padding-top: 130px;
}

#section1 > .container > .contentLine {

}
#section1 > .container > .contentLine > .boxList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
#section1 > .container > .contentLine > .boxList > .box {
    display: flex;
    width: 400px;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px 1px #00000066;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s;
    cursor: pointer;
}

#section1 > .container > .contentLine > .boxList > .box:hover {
    transform: scale(1.02);
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#section1 > .container > .contentLine > .boxList > .box > .boxContent > .top {
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgb(202, 202, 202);
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .top > img {
    width: 100%;
    position: absolute;
    top: -10px;
    transition: all 0.3s;
}

#section1 > .container > .contentLine > .boxList > .box:hover > .boxContent > .top > img {
    transform: scale(1.1);
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom{
    width: 100%;
}

#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .topLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .topLine > p {
    margin: 0;
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .topLine > p.eName {
    font-weight: 700;
    font-size: 20px;
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .topLine > p.dateTime {
    font-size: 15px;
    color: gray;
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .bottomLine {
    
}
#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .bottomLine > .contentPreview {
    
}

#section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .bottomLine > .contentPreview > p {
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}

#section1 > .container > .contentLine > .boxList > .box > .hoverBox {
    
}

/* ==== section1 ==== */

/* ==== section2 ==== */

#section2 {
}

#section2 > .container {
}

/* ==== section2 ==== */

/* ==== section3 ==== */

#section3 {
}

#section3 > .container {
}

/* ==== section3 ==== */


/* ===== media ===== */

@media all and (max-width: 1600px) {
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 1024px) {
}
/* 작업 후 834까지 */
@media all and (max-width: 834px) {
  section {
    width: 100%;
  }
}
/* 작업 후 600까지 */
@media all and (max-width: 600px) {
  #section1 > .container > .contentLine > .boxList > .box {
    width: 320px;
    height: 280px;
  }
  #section1 > .container > .contentLine > .boxList > .box > .boxContent > .top {
    width: 310px;
    height: 150px;
  }
  #section1 > .container {
    padding-bottom: 150px;
  }
}
/* 작업 후 478까지 */
@media all and (max-width: 478px) {
  main > .topBox > p {
    font-size: 23px;
  }
  #section1 > .container > .contentLine > .boxList > .box {
    width: 270px;
    height: 270px;
  }
  #section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom {
    width: 90%;
  }
}
/* 작업 후 414까지 */
@media all and (max-width: 414px) {
  #section1 > .container > .contentLine > .boxList > .box {
    width: 220px;
    height: 250px;
  }
  #section1 > .container > .contentLine > .boxList > .box > .boxContent > .top {
    width: 250px;
    height: 115px;
  }
  #section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .topLine > p.eName {
    font-size: 17px;
  }
  #section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .topLine > p.dateTime {
    font-size: 13px;
  }
  #section1 > .container > .contentLine > .boxList > .box > .boxContent > .bottom > .bottomLine > .contentPreview > p {
    font-size: 15px;
  }
}

/* ===== media ===== */
