#description{
    text-align: center;
    margin: 5%;
}
#addPage{
    width: 1300px;
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
}
input, textarea {
    width:90%;
    padding: 10px;
    margin: 10px;
}
.event-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}
.event-item button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.event-item img {
    max-width: 150px;
    height: auto;
}
.Btn{
    height: 35px;
    margin-left: 2%;
    border-radius: 5px;
    border: 1px solid rgb(103, 103, 103);
    cursor: pointer;
    left: 50%;
}
#event-list{
    max-width: 600px;
    margin: 5%;
    padding: 20px;
    list-style-type: none;
}