<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AJOU CHECKER</title>
    <link rel="stylesheet" href="uploads/src/public/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  </head>
  <body>
    <main>
      <div class="floating">
        <a href="#section1">
          <div class="gotoTop">
            <img src="uploads/src/public/img/up-arrow.png" alt="" />
          </div>
        </a>
      </div>

      <div class="topBox">
        <!-- <img src="" alt=""> -->
        <p class="projectName">CHECKER</p>
      </div>

      <section id="section1">
        <div class="container">
            <div class="contentLine">
                <div class="boxList">
                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>

                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>


                    <div class="box">
                        <div class="boxContent">
                            <div class="top">
                                <img src="uploads/src/public/img/eventImg/example.png" alt="">
                            </div>
                            <div class="bottom">
                                <div class="topLine">
                                    <p class="eName">이벤트 이름</p>
                                    <p class="dateTime">~ 24-05-10</p>
                                </div>
                                <div class="bottomLine">
                                    <div class="contentPreview">
                                        <p>세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 세부 내용 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="hoverBox">
    
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </section>

    </main>

    <script src="uploads/src/public/script.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
      integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
